.countdown{
    display: flex;
    align-items: center;
    /* gap: 5rem; */
}

.countdown img{
    width: 55rem;
}

.timer {
    transition: transform 0.3s ease-in-out;
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) rotate(15deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
